@charset "utf-8";

.layout-1-wrapper {
		width: 100%;
		background-color: #900;
	}

	.layout-1-wrapper .layout-1 .c1-wrapper .c1 {
		margin: 0 !important;
	}

	.layout-1-wrapper .mx-column-list.mx-m {
		margin: 0;
	}

	.layout-1-wrapper .mx-column-list {
		padding: 10px 0;
	}

	.layout-1-wrapper .mx-column-list ul {
		display: block;
		margin-left: -10px;
		margin-right: -10px;
	}

	.layout-1-wrapper .mx-column-list ul li {
		float: left;
		width: 25%;
		padding: 10px;
	}

	.layout-1-wrapper .mx-column-list ul li a {
		display: block;
		padding: 20px 10px;
		height: 100px;
		background: #d7322d;
		background-image: url(../../assets/img/column-bg.png);
		border: 1px solid #ff5842;
		position: relative;
	}

	.layout-1-wrapper .mx-column-list ul li a::after,
	.layout-1-wrapper .mx-column-list ul li a::before {
		content: '';
		width: 100%;
		height: 100%;
		border: 6px dashed transparent;
		display: block;
		padding: 5px;
		position: absolute;
		left: 0;
		top: 0;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		z-index: 101;
	}

	.layout-1-wrapper .mx-column-list ul li a:after {
		border: 6px dashed #94101d;
	}

	.layout-1-wrapper .mx-column-list ul li a:before {
		border: 5px solid #c71715;
		z-index: 102;
	}

	.layout-1-wrapper .mx-column-list ul li a i {
		float: left;
		width: 58px;
		height: 58px;
		line-height: 58px;
		text-align: center;
		color: #fea;
		margin: 0 5px 0 0;
		font-size: 40px;
		border-radius: 100px;
		background: none;
	}

	.layout-1-wrapper .mx-column-list ul li a span {
		display: block;
	}

	.layout-1-wrapper .mx-column-list ul li a span strong {
		display: block;
		height: 32px;
		padding: 8px 0 0;
		color: #fff;
		font-size: 16px;
		line-height: 24px;
		overflow: hidden;
	}

	.layout-1-wrapper .mx-column-list ul li a span em {
		display: block;
		line-height: 18px;
		font-size: 12px;
		height: 18px;
		color: #fff;
		overflow: hidden;
		opacity: 0.8;
	}

	/* 背景 */
	.layout-s-news-wrapper.special-themes .c2 .mx-sheet {
		background-image: url(../../assets/img/column-title-bg.png);
		background-repeat: no-repeat;
		background-position: right top;
	}
