@charset "utf-8";

/* 盒子模型用border-box */
*,
:after,
::before {
	box-sizing: border-box;
}

/* // 版心 */
.w {
	width: 1180px;
	margin: 0 auto;
}

/* //图片居中 */
img {
	vertical-align: middle;
	border-style: none;
}
/*  */
strong{
	font-weight: bolder;
}
/* //基础a的样式 */
a {
	font-size: 14px;
	color: #333;
}

/* //基础em的样式 */
em {
	color: #aaa;
	font-weight: 500;
}
h1,h2,h3,h4,h5,h6{
	color:rgba(0,0,0,0.85);
	font-weight: 700;
}

/* 内容块基本设置 */
.c1,
.c2,
.c3 {
	display: block;
	padding: 0.5px 10px;
}

/*  */
.c1 dl,
.c1 ul,
.c2 dl,
.c2 ul,
.c3 dl,
.c3 ul {

	margin-bottom: 0 !important;
}



/* // 首页上半部分主题背景颜色-党 */
.special-themes
{
	background-color: #900;
}

/* //正常灰色背景颜色 */
.normal-themes {
	background-color: #f5f5f5;
}
.divider{
	display: inline-block;
	padding:0 10px;
	color:grba(0,0,0,0.1);
}
span{
	/* color:#333; */
}
a:hover {
    color: #c01;
}
/*重置el-pagination 样式*/
.el-pagination {
	/* height: 100px; */
	margin: 0  !important;
	padding:0 !important;
	box-sizing: border-box;
	color: rgba(0, 0, 0, 0.65);
	font-size: 14px;
	font-variant: tabular-nums;
	line-height: 1.5;
	font-feature-settings: "tnum";
	list-style: none;
}
.el-pagination button:hover{
	color: #c01;
}
.el-pagination .btn-prev,
.el-pagination .btn-next {
	/* background: red;  */
	display: inline-block;
    min-width: 32px;
    height: 32px;
    color: rgba(0, 0, 0, 0.65);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 32px;
    text-align: center;
    vertical-align: middle;
    list-style: none;
    border-radius: 4px;
    transition: all 0.3s;
    /* margin-right: 8px; */
    outline: none; 
	
}
.el-pagination .btn-prev i,
.el-pagination .btn-next i{
	font-size: 16px !important;
}

.el-pagination .el-pager li {
	display: inline-block;
	list-style: none;
	min-width: 32px;
	height: 32px;
	/* margin-right: 10px; */

	line-height: 30px;
	text-align: center;
	vertical-align: middle;
	font-family: Arial, Helvetica, sans-serif;
	/* border: 1px solid #d9d9d9; */
	border-radius: 4px;
	outline: 0;
	cursor: pointer;
}

.el-pagination .el-pager li:hover{
	color: #c01;
	cursor: pointer;
	/* border:1px solid #c01; */
}
.el-pagination .el-pager li.active {
	color: #c01;
	/* border:1px solid #c01; */
	box-shadow: none;
	transition: all 0.3s;
	/* cursor: default; */
}
.el-input.is-active .el-input__inner,
.el-input__inner:focus {
	border-color: #c01;
	outline: 0;
}

