@media only screen and (max-width: 959px) {
  .mx-listing dl dt img {
    height: 69px;
  }
  .mx-thumbnails-cos1 ul li img {
    height: 89.25px;
  }
}

@media only screen and (min-width: 960px) and (max-width: 1239px) {
  .sliding-img-box img {
    height: 214px;
  }
  .mx-listing dl dt img {
    height: 115px;
  }
  .mx-thumbnails-cos1 ul li img {
    height: 102px;
  }
}

@media only screen and (min-width: 1240px) {
  .sliding-img-box img {
    height: 270px;
  }
  .mx-topic ul li a img {
    height: 60px;
  }
  .mx-listing dl dt img {
    height: 115px;
  }
  .mx-thumbnails ul li img {
    height: 158px;
  }
  .mx-thumbnails-cos1 ul li img {
    height: 136px;
  }
}
