@charset "UTF-8";
/* 移动端2倍距 */
@media only screen and (max-width: 576px) {
  .el-pagination__jump {
    display: none !important;
  }
}

/* 低于959尺寸 */
@media only screen and (max-width: 959px) {
  /* 基本配置 start*/
  .c1,
  .c2,
  .c3 {
    padding: 0 !important;
  }
  .mx-m {
    margin: 20px 0 0;
  }
  .touch {
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .phone-none {
    display: none;
  }
  .mx-bread-crumb {
    display: block;
    height: 36px;
    padding: 0 160px 0 20px;
    line-height: 36px;
    color: #333;
    position: relative;
  }
  .layout {
    width: 100%;
  }
  .layout .c1,
  .c2,
  .c3 {
    float: none !important;
    width: 100% !important;
    margin: 0 !important;
  }
  /* 基本配置 end */
  /* 项目-标题 */
  .mx-item-title {
    /* 标准 */
    /* padding: 15px 15px 0; */
    /* 放大 */
    padding: 30px 30px 0;
  }
  .mx-item-title strong {
    /* font-size: 18px; */
    font-size: 36px;
  }
  /* 定义标题 */
  .mx-listing dl {
    /* padding:15px; */
    padding: 30px;
    border-bottom: 2px solid #eee;
  }
  .mx-listing dl strong {
    display: block;
    height: auto;
    /* font-size:15px; */
    /* line-height:20px; */
    font-size: 30px;
    line-height: 40px;
    font-weight: normal;
    white-space: normal;
  }
  .mx-listing dl em {
    /* margin:0 5px; */
    margin: 0 10px;
    color: #ddd;
  }
  .mx-listing dl dt {
    /* width: 120px; */
    width: 240px;
    font-weight: 500;
  }
  .mx-listing dl dd {
    /* margin: 0 0 0 130px; */
    margin: 0 0 0 260px;
  }
  .mx-listing dl dd a {
    display: block;
  }
  .mx-listing dl dd span {
    /* font-size:12px; */
    font-size: 24px;
    padding: 10px 0 0;
  }
  .mx-listing dl dd em.user-time {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 24px;
    height: 30px;
    line-height: 30px;
  }
  .mx-listing dl dd em.time-phone {
    margin: 0;
    padding-top: 10px;
  }
  .mx-listing dl dd span a {
    display: inline-block;
  }
  .mx-listing-sum {
    display: none !important;
  }
  /* 加载更多 */
  .mx-more-link {
    /* font-size:14px;
		line-height:40px; */
    font-size: 28px;
    line-height: 80px;
  }
  .mx-more-link a {
    display: block;
  }
  /* 缩略图形式 */
  .mx-thumbnails ul {
    margin: 0;
  }
  .mx-thumbnails ul li {
    display: block;
    margin-top: 0;
    background: #fff;
  }
  .mx-thumbnails-cos1 ul li {
    /* padding:15px; */
    padding: 30px;
    float: left;
    width: 50%;
  }
  .mx-thumbnails ul span {
    display: block;
    /* padding:10px 0 0;
		border-bottom-width: 10px;
		font-size:12px; */
    padding: 20px 0 0;
    border-bottom-width: 20px;
    font-size: 24px;
  }
  .mx-thumbnails-cos1 ul li span {
    /* height:46px; */
    /* height: 92px; */
    line-height: 36px;
    /* overflow: hidden; */
    height: auto;
  }
  /*  */
  .mx-listing dl {
    display: block;
    padding: 30px;
    border-bottom: 2px solid #eee;
    background-color: #fff;
  }
  .mx-listing dl dt {
    float: left;
    font-weight: 500;
    position: relative;
    width: 240px;
  }
  .mx-listing dl dd {
    margin-left: 260px;
  }
  .mx-listing dl dd a {
    display: block;
    color: #333;
  }
  .mx-listing dl strong {
    display: block;
    font-size: 30px;
    line-height: 40px;
    height: auto;
    text-overflow: ellipsis;
    overflow: visible;
    white-space: normal;
    font-weight: 400;
  }
  .mx-listing dl dd span {
    color: #aaa;
    font-size: 24px;
    padding: 10px 0 0;
  }
  .mx-listing dl dd span a {
    display: inline-block;
    color: #333;
  }
  .mx-listing dl dd em.user-time {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 24px;
    height: 30px;
    line-height: 30px;
  }
  .mx-listing dl dd em.time-phone {
    margin: 0;
    padding-top: 10px;
  }
  .mx-listing-sum {
    display: none !important;
  }
  /*  */
  .mx-tag {
    display: block;
  }
  .mx-tag-box {
    padding: 40px;
    display: block;
    background-color: #fff;
  }
  .mx-tag-box {
    padding: 30px;
  }
  .mx-tag-box a {
    display: inline-block;
    border: 2px solid #eee;
    line-height: 48px;
    padding: 0 20px;
    margin: 0 16px 16px 0;
    border-radius: 6px;
    background: #f9f9f9;
  }
  .mx-tag-box a {
    color: #333;
  }
  /* 列表标题样式 start*/
  .mx-column-title.mx-m {
    margin: 0;
  }
  .mx-column-title {
    padding: 20px;
    background-color: #fff;
    background-size: auto 100%;
  }
  .mx-column-title {
    background: url(../img/column-title-bg.png) no-repeat right top;
  }
  .mx-column-icon {
    float: left;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 68px !important;
    margin-right: 20px;
  }
  .mx-column-icon i {
    font-size: 68px !important;
  }
  /* 追加 */
  .mx-column-title:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    line-height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  .mx-column-text h2 {
    font-size: 36px;
    line-height: 44px;
    overflow: hidden;
    display: block;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 700;
  }
  .mx-column-text em {
    display: block;
    color: #aaa;
    font-size: 24px;
    line-height: 40px;
  }
  /* 列表标题样式 end */
  /* 列表类  二级导航 start */
  .mx-column-class {
    padding: 20px;
    font-size: 28px;
    background: #fff;
    white-space: nowrap;
    /* overflow-x:scroll; */
    overflow-y: hidden;
  }
  .mx-column-class.mx-m {
    padding: 20px;
    margin: 2px 0 0;
  }
  .mx-column-class a {
    display: inline-block;
    margin: 0 20px;
    line-height: 60px;
    font-size: 28px;
  }
  .mx-column-class em {
    color: #ddd;
  }
  /* .mx-column-class a:hover{
		color: #c01;
	} */
  .mx-column-class a strong {
    font-weight: bolder;
    font-size: 28px;
  }
  /* 导航激活样式 now */
  .mx-column-class .now {
    background: #333;
    color: #fff;
    border-radius: 110px;
    padding: 0 20px;
  }
  .mx-column-class .now {
    background: #c01 !important;
    color: #fff;
    border-radius: 10px !important;
  }
  /* 列表类  二级导航 end */
  /*重置el-pagination 样式 start*/
  .el-pagination {
    /* height: 100px; */
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.65);
    font-size: 28px;
    font-variant: tabular-nums;
    line-height: 1.5;
    font-feature-settings: "tnum";
    list-style: none;
  }
  .el-pagination button:hover {
    color: #c01;
  }
  .el-pagination .btn-prev,
  .el-pagination .btn-next {
    /* background: red;  */
    display: inline-block;
    min-width: 64px;
    height: 64px;
    color: rgba(0, 0, 0, 0.65);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 64px;
    text-align: center;
    vertical-align: middle;
    list-style: none;
    border-radius: 8px;
    transition: all 0.3s;
    /* margin-right: 8px; */
    outline: none;
  }
  .el-pagination .btn-prev i,
  .el-pagination .btn-next i {
    font-size: 32px !important;
  }
  .el-pagination .el-pager li {
    display: inline-block;
    list-style: none;
    min-width: 64px;
    height: 64px;
    /* margin-right: 10px; */
    line-height: 60px;
    text-align: center;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid #d9d9d9; */
    border-radius: 8px;
    outline: 0;
    cursor: pointer;
  }
  .el-pagination .el-pager li:hover {
    color: #c01;
    cursor: pointer;
    /* border:1px solid #c01; */
  }
  .el-pagination .el-pager li.active {
    color: #c01;
    /* border:1px solid #c01; */
    box-shadow: none;
    transition: all 0.3s;
    /* cursor: default; */
  }
  .el-input.is-active .el-input__inner,
  .el-input__inner:focus {
    border-color: #c01;
    outline: 0;
  }
  /*重置el-pagination 样式 end*/
}

/* 960 -1240尺寸 */
/*1240尺寸以上 */
